*{
    margin: 0;
    padding: 0;
}

section{
    margin: 0 auto;
    background: #b0afb4  ;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    color: #0B0B0C ;
    font-size: 20px;
}
.cajas{
    border-radius: 10px;
    width: 200px;
    height: 20px;
}

h1{
    text-align: center;
    color:black
    ;
}
body{
background-image: url(../img/bgcalisma-1\(2\).jpg);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
nav{
    background: rgb(0,0,0,.8);
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 10;
left: -17em;
/*transition: all .5s;*/
}
.menu{
list-style: none;
line-height: 60px;
margin: 7em auto 0 auto;
width: 16em;
padding-left: .1em;

}
.menu a{
    text-decoration: none;
    color: white;
    display: block;
    padding-left: 1.3em;
    width: 100%;
    font-size: 1.3em;
    transition: all .2s;
    cursor: pointer;

}
.menu li {
    box-shadow: 3px 0 rgba(129, 125, 125, 0.8) inset;
    margin-bottom: 5px;
    transition: all .5s;
}
.menu li:hover{
    font-size: 1.1em;
    box-shadow: 15em 0 rgba(85, 83, 83, 0.8) inset;
}
.menu a:hover{
    margin-left: 1em;
}


.fa-bars{
    font-size: 1.4em;
}
.icono-menu{
    position: fixed;
    top: 50px;
    left: 40px;
    z-index: 20;
  font-size: 1.8em;
}
.mostrarNav {
     left: 0;
}
.main-content{
    margin-top: 25px;
    width: 85%;
    margin-right: 100%;
}
